.bgColor {
	background-color: #f7f7f7;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	height: 100%;
	padding: 200px;

}

.paragraph {
	margin: 0 auto 30px auto;
	width: 500px;
	height: 150px;
}

.notes {
	margin: 0 auto 0 auto;
	width: 500px;
	height: 250px;
	background-color: white;
}

.send {
	margin: 50px auto 0 auto;
	width: 150px;
	height: 50px;
}

.textarea {
	width: 500px;
	height: 250px;
}

.requestFor {
	font-size: 20pt;
	padding: 15px;
}

.theReason {
	margin-top: 40px;
}

.send-text {
	padding: 15px;
	text-align: center;
}

a { color: inherit; 
}