body {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}
div {
  margin: 20px 0;
}
.new_appointment_time {
  margin-left: 20px;
}
.new_appointment_time p:first-of-type {
  margin-bottom: 3px;
}
.weekday {
  font-weight: 700;
  margin-right: 10px;
}
.notes_header {
  font-weight: 700;
  text-decoration: underline;
}
