body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 32px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #f7f7f7;
}

h2 {
  font-size: 18pt;
  margin-bottom: 15px;
}

p {
  margin-bottom: 5px;
}
